{% extends 'schools/base.html' %}
{% load static %}

{% block title %}Encuentra Tu Próximo Destino{% endblock %}

{% block extra_css %}
<link href="{% static 'schools/css/find_nearest.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
{% include 'schools/find_nearest_base.html' %}
{% endblock %}

{% block extra_js %}
<script src="https://maps.googleapis.com/maps/api/js?key={{ google_maps_api_key }}&libraries=places"></script>
<script type="module" src="{% static 'schools/js/find_nearest.js' %}"></script>
{% endblock %} 